<?xml version="1.0" encoding="utf-8"?>
<manifest 
	  xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lehms"
      android:versionCode="1"
      android:versionName="1.0"
      >

	<uses-sdk android:minSdkVersion="4" />

    <application android:name="LehmsApplication" 
	    android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@style/Theme.Lehms"
    >
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation" 
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ApplicationSettings"
                  android:label="@string/app_name" 
                  />
        <activity android:name=".Dashboard"
                  android:label="@string/app_name"
                  />
        <activity android:name=".ClientsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name=".ClientDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name=".RosterActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="JobDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="ProgressNoteListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="ProgressNoteDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormDetailsListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
                  
        <activity android:name="TakePhotoActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="ViewPhotosActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

		<service android:name="com.lehms.service.GPSLoggerService"/>
		<service android:name="com.lehms.service.DataSyncService"/>
		<receiver android:name="com.lehms.receivers.AlarmReceiver"/>

   </application>
    
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

</manifest>
