<?xml version="1.0" encoding="utf-8"?>
<manifest 
	  xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.lehms"
      android:versionCode="1"
      android:versionName="0.4.7"
      >

	<uses-sdk android:minSdkVersion="4" />

    <application android:name="LehmsApplication" 
	    android:icon="@drawable/icon" 
    	android:label="@string/app_name"
    	android:theme="@style/Theme.Lehms"
    >
        <activity android:name=".LoginActivity"
                  android:label="@string/app_name"
                  android:configChanges="orientation" 
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ApplicationSettings"
                  android:label="@string/app_name" 
                  android:theme="@style/Theme.Lehms.Preferences"
                  />
        <activity android:name=".Dashboard"
                  android:label="@string/app_name"
                  />
        <activity android:name=".ClientsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name=".ClientDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name=".RosterActivity"
                  android:label="Roster" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="JobDetailsActivity"
                  android:label="Job" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="ProgressNoteListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
        <activity android:name="ProgressNoteDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormDetailsActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="FormDetailsListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
                  
        <activity android:name="TakePhotoActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="ViewPhotosActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />
                  
        <activity android:name="RaiseAlarmActivity"
                  android:label="Emergency Alarm" 
                  android:configChanges="orientation" 
				  android:theme="@android:style/Theme.Dialog"
                  />

        <activity android:name="JobEndActivity"
                  android:label="Jom Complete" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="ConsumableCostSheetActivity"
                  android:label="Consumable Cost Sheet" 
                  android:configChanges="orientation|keyboardHidden" 
                  />

        <activity android:name="com.lehms.graph.GraphActivity"
                  android:label="Graph" 
                  android:configChanges="orientation" 
				  android:theme="@android:style/Theme.Dialog"
                  />

        <activity android:name="com.lehms.ui.clinical.ClinicalDetailsListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.MeasurementSummaryListActivity"
                  android:label="@string/app_name" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.WeightMeasurementActivity"
                  android:label="Weight Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.BloodPressureMeasurementActivity"
                  android:label="Blood Pressure Measurement" 
                  android:configChanges="orientation" 
                  />
                  
        <activity android:name="com.lehms.ui.clinical.BloodSugerLevelMeasurementActivity"
                  android:label="BSL Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.ECGMeasurementActivity"
                  android:label="ECG Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.TemperatureMeasurementActivity"
                  android:label="Temperature Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.SPO2MeasurementActivity"
                  android:label="SPO2 Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.INRMeasurementActivity"
                  android:label="INR Measurement" 
                  android:configChanges="orientation" 
                  />

        <activity android:name="com.lehms.ui.clinical.UrinetMeasurementActivity"
                  android:label="Urine Measurement" 
                  android:configChanges="orientation" 
                  />
                  
        <activity android:name="com.lehms.ui.clinical.RespiratoryRateMeasurementActivity"
                  android:label="Respiratory Rate Measurement" 
                  android:configChanges="orientation" 
                  />
                  
		<activity android:name="com.lehms.ui.clinical.DeviceListActivity"
                  android:label="Device List"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<activity android:name="com.lehms.ui.clinical.SPO2AutoMeasurementActivity"
                  android:label="SPO2 Measurement"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<activity android:name="com.lehms.ui.clinical.TemperatureAutoMeasurementActivity"
                  android:label="Tempreature Measurement"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<activity android:name="com.lehms.ui.clinical.BloodPressureMeasurementAutoActivity"
                  android:label="Blood Pressure Measurement"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<activity android:name="com.lehms.ui.clinical.BloodSugerLevelMeasurementAutoActivity"
                  android:label="Blood Pressure Measurement"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<activity android:name="com.lehms.ui.clinical.ECGMeasurementAutoActivity"
                  android:label="Blood Pressure Measurement"
                  android:theme="@android:style/Theme.Dialog"
                  android:configChanges="orientation|keyboardHidden" />

		<service android:name="com.lehms.service.GPSLoggerService"/>
		<service android:name="com.lehms.service.DataSyncService"/>
		<receiver android:name="com.lehms.receivers.AlarmReceiver"/>

		<meta-data android:name="AA_DB_NAME" android:value="Lehms.db" />
		<meta-data android:name="AA_DB_VERSION" android:value="2" />
		
   </application>
    
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.RECORD_VIDEO"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
	 
</manifest>
